# Database Configuration (PostgreSQL)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=vehicle_db

# MQTT Broker Configuration
MQTT_BROKER=tcp://localhost:1883

# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# API Service Configuration
API_PORT=8080

# GEOFENCE
GEOFENCE_LAT=-6.2526
GEOFENCE_LON= 106.8736
GEOFENCE_RADIUS=50.0

# Mock Data
VEHICLE_ID=B5678ABC
INITIAL_LAT=-6.2520
INITIAL_LON=106.8730